html, body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

* {
  font-family: sans-serif;
}

@font-face {
  font-family: 'Textile';
  src: url('../assets/fonts/textile.ttf') format('truetype');
}
